<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48243820002-lneqqikp5u81nfoqo24ttj37lihsiiqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48243820002-lneqqikp5u81nfoqo24ttj37lihsiiqc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>48243820002-oqgii7co2c6jh0uudjacl86sbqvjdlr1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLTvEG1huNTbHG0LO3X4rVunhTPGCKT_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>48243820002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginScreen</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-c15f0</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-c15f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48243820002:ios:ee78a69953f783f5f325bb</string>
</dict>
</plist>